html {
    background-color: whitesmoke;
}
h1 {
    align-content: center;
}
.header {
    background-color:greenyellow;
    height: 500px;
    width: auto;
    padding: 10px;
}
.pennyvid {
    height: 640px;
    width: 480px;
    align-self: auto;
}
#pennypic {
    width: 80%;
    align-self: left;
}
#pennytext {
    width: 30%;
    align-self: right;
    align-content: center;
}